apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: news-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/code-lover636/NEWSIFY-NewsApp-API_Based.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: newsify-ns-3
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
    - CreateNamespace=true
