name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        IMAGE_TAG=1.0.${GITHUB_RUN_NUMBER}
        docker build -t aravindashokan/newsify:$IMAGE_TAG .
        docker push aravindashokan/newsify:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    - name: Update k8s deployment
      run: |
        sed -i "s|image: aravindashokan/newsify:.*|image: aravindashokan/newsify:$IMAGE_TAG|" dev/deployment.yml

    - name: Commit & Push
      run: |
        git config --global user.email "aravindashokan636@gmail.com"
        git config --global user.name "Aravind Ashokan"
        git add dev/deployment.yml
        git commit -m "Update image to $IMAGE_TAG"
        git push
